node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Logs locales de desarrollo
tauri-dev.log
vite-dev.log
*.log

# Tauri
src-tauri/target/
src-tauri/gen/
src-tauri/tauri.conf.json.bak

# Next.js / Web
web/.next/
web/out/
web/node_modules/

# Prisma
web/prisma/*.db
web/prisma/*.db-journal
web/db/*.db
web/db/*.db-journal

# General
.DS_Store
Thumbs.db

.vscode/
Firebird-5.0.3.1683-0/

# Playwright
test-results/
playwright-report/
